/* External CSS - Self Portfolio */

body {
    background-image: url("images/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #919191;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #FFFFF0;
}

h1.portfolio-heading {
    color: #FFFFF0;
    font-size: 30px;
    font-weight: bolder;
}

img.rounded-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

h2.displayed-name a {
    color: #FFFFF0;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

h2.displayed-name a:hover {
    border: 2px solid #834c70;
    background-color: rgba(224, 155, 200, 0.2);
    border-radius: 8px;
    padding: 5px;
}

.self-introduction h3 {
    font-size: 20px;
    font-style: italic;
    background-color: #E09BC8;
    padding: 4px; 
    color: #0A0025;
}

.educational-background h4 {
    font-size: 16px;
}

hr{
    border: none;
    height: 1px;
    background-color: #FFFFF0;
    margin-top: -10px; 
    margin-bottom: 10px; 
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

table, th, td {
    border: 1px solid #9c9c9c;
    padding: 8px;
}

th {
    background-color: rgba(224, 155, 200, 0.5);
}

td.level {
    font-weight: bold;
}

.expertise h3 {
    font-size: 20px;
    font-style: italic;
    background-color: #E09BC8;
    padding: 4px; 
    color: #0A0025;
}

ul {
    list-style-type: square;
    text-align: left;
}

.it-background h4 {
    font-size: 20px;
    font-style: italic;
    background-color: #E09BC8;
    padding: 4px; 
    color: #0A0025;
}

.applications-used h4 {
    font-size: 20px;
    font-style: italic;
    background-color: #E09BC8;
    padding: 4px; 
    color: #0A0025;
}

p {
    font-size: 16px;
    line-height: 1.5;
    text-indent: 2em;
}

li{
    line-height: 1.3;
}
